APP_URL="http://localhost:3000"
FIREBASE_PROJECT_ID="neighbortoneighbor"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
CLOUDINARY_URL="cloudinary://YOUR_API_KEY:YOUR_API_SECRET@YOUR_CLOUD_NAME"